<Appwrk-layout-div [title]="'Employee Details'">
    <ng-container *ngTemplateOutlet="steperLayout"></ng-container>
    <div rightButton>
        <button routerLink="/secure/masterSetup/employee"  [matTooltip]="'Back'"  mat-button color="primary"><span class="material-icons">
                keyboard_backspace
            </span>Back</button>
    </div>
</Appwrk-layout-div>

<ng-template #steperLayout>
    <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="employeeForm" [editable]="isEditable">
            <ng-template matStepLabel>Employee Basic Information</ng-template>
            <ng-container *ngTemplateOutlet="employeeBasicInfo"></ng-container>
            <div class="row">
                <button id="step1next" style="display:none;" mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="employeeForm" [editable]="isEditable">
            <ng-template matStepLabel>Address Details</ng-template>
            <ng-container *ngTemplateOutlet="employeeAddressInfo"></ng-container>
            <button mat-button color="primary" [matTooltip]="'Back'" matStepperPrevious>Back</button>
            <button id="step2next" style="display:none;" mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step [stepControl]="employeeForm" [editable]="isEditable">
            <ng-template matStepLabel>Skill-Set</ng-template>
            <ng-container *ngTemplateOutlet="employeeSkillSetInfo"></ng-container>
            <button mat-button color="primary" [matTooltip]="'Back'" matStepperPrevious>Back</button>
            <button id="step3next" style="display:none;" mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div class="row">
                <button mat-button color="primary" [matTooltip]="'Back'" matStepperPrevious>Back</button>
                <button mat-button color="primary" [matTooltip]="'Reset'" (click)="stepper.reset()">Reset</button>
                <button mat-button color="primary" [matTooltip]="'Save'" *ngIf="action == 'add'" (click)="saveEmployee()">Save</button>
                <button mat-button color="primary" [matTooltip]="'Update'" *ngIf="action == 'edit'" (click)="updateEmployee()">Update</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</ng-template>

<form [formGroup]="employeeForm">
    <ng-template #employeeBasicInfo>
        <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                <div class="row ">
                    <div class="col-xl-12">
                        <label for="file-input" class="d-bk">
                            <img src={{photo}} />
                        </label>
                        <input type="file" accept=".png,.jpeg,.jpg,.gif,.img" style="display:none" id="file-input"
                            (change)="uploadPhoto($event)" required>
                        <mat-error
                            matTooltip="{{getErrorMessage(employeeForm.controls.firstName,'employee','firstName')}}"
                            *ngIf="employeeForm.controls.imagePath.invalid && employeeForm.controls.imagePath.touched">
                            {{getErrorMessage(employeeForm.controls.imagePath,'employee','imagePath')}}
                        </mat-error>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2" *ngIf="employeeForm.controls.id.value != 0">
                <mat-form-field appearance="outline">
                    <mat-label>Employee Code</mat-label>
                    <input matInput type="text" formControlName="empCode" required="true" readonly="true" />
                    <mat-error *ngIf="employeeForm.controls.empCode.invalid && employeeForm.controls.empCode.touched">
                        <span matTooltip="{{getErrorMessage(employeeForm.controls.empCode,'employee','empCode')}}">
                            {{getErrorMessage(employeeForm.controls.empCode,'employee','empCode')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" formControlName="firstName" required="true" />
                    <mat-error
                        *ngIf="employeeForm.controls.firstName.invalid && employeeForm.controls.firstName.touched">
                        <span matTooltip="{{getErrorMessage(employeeForm.controls.firstName,'employee','firstName')}}">
                            {{getErrorMessage(employeeForm.controls.firstName,'employee','firstName')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Middle Name</mat-label>
                    <input matInput type="text" formControlName="middleName" />
                    <mat-error
                        *ngIf="employeeForm.controls.middleName.invalid && employeeForm.controls.middleName.touched">
                        <span
                            matTooltip="{{getErrorMessage(employeeForm.controls.middleName,'employee','middleName')}}">
                            {{getErrorMessage(employeeForm.controls.middleName,'employee','middleName')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" formControlName="lastName" required="true" />
                    <mat-error *ngIf="employeeForm.controls.lastName.invalid && employeeForm.controls.lastName.touched">
                        <span matTooltip="{{getErrorMessage(employeeForm.controls.lastName,'employee','lastName')}}">
                            {{getErrorMessage(employeeForm.controls.lastName,'employee','lastName')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                <mat-label>Status</mat-label>
                <ng-select [items]="statusList" placeholder="Status *" formControlName="status" bindLabel="name"
                    bindValue="value" [searchable]="true" [clearable]="false" required="true" [closeOnSelect]="true">
                </ng-select>
                <mat-error *ngIf="employeeForm.controls.status.invalid && employeeForm.controls.status.touched">
                    <span matTooltip="{{getErrorMessage(employeeForm.controls.status,'employee','status')}}">
                        {{getErrorMessage(employeeForm.controls.status,'employee','status')}}</span>
                </mat-error>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                <mat-label>Designation</mat-label>
                <ng-select [items]="designationList" placeholder="Designation *" formControlName="designationId"
                    bindLabel="name" bindValue="id" [searchable]="true" [clearable]="false" required="true"
                    [closeOnSelect]="true">
                </ng-select>
                <mat-error
                    *ngIf="employeeForm.controls.designationId.invalid && employeeForm.controls.designationId.touched">
                    <span
                        matTooltip="{{getErrorMessage(employeeForm.controls.designationId,'employee','designationId')}}">
                        {{getErrorMessage(employeeForm.controls.designationId,'employee','designationId')}}</span>
                </mat-error>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                <mat-label>Roles</mat-label>
                <ng-select [items]="roleMasterList" placeholder="Roles" formControlName="roleMasterId" bindLabel="name"
                    bindValue="id" [searchable]="true" [clearable]="false" [(ngModel)]="selectedListForRoleMaster"
                    [multiple]="true" [closeOnSelect]="false">
                    <ng-template ng-option-tmp let-item="item">
                        <input
                            [checked]="selectedListForRoleMaster && selectedListForRoleMaster.length > 0 && selectedListForRoleMaster.indexOf(item.id) > -1"
                            type="checkbox">
                        {{item.name}}
                    </ng-template>
                </ng-select>
                <mat-error
                    *ngIf="employeeForm.controls.roleMasterId.invalid && employeeForm.controls.roleMasterId.touched">
                    <span
                        matTooltip="{{getErrorMessage(employeeForm.controls.roleMasterId,'employee','roleMasterId')}}">
                        {{getErrorMessage(employeeForm.controls.roleMasterId,'employee','roleMasterId')}}</span>
                </mat-error>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                <mat-form-field>
                    <mat-label>Date of Joining</mat-label>
                    <input matInput [matDatepicker]="dateOfJoining" readonly="true" required="true" [max]="currentDate"
                        formControlName="dateOfJoining">
                    <mat-datepicker-toggle matSuffix [for]="dateOfJoining">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dateOfJoining></mat-datepicker>
                    <mat-error
                        *ngIf="employeeForm.controls.dateOfJoining.invalid && employeeForm.controls.dateOfJoining.touched">
                        <span
                            matTooltip="{{getErrorMessage(employeeForm.controls.dateOfJoining,'employee','dateOfJoining')}}">
                            {{getErrorMessage(employeeForm.controls.dateOfJoining,'employee','dateOfJoining')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput type="text" formControlName="mobileNumber" prefix="+91 " mask="00000 00000"
                        required="true" />
                    <mat-error
                        *ngIf="employeeForm.controls.mobileNumber.invalid && employeeForm.controls.mobileNumber.touched">
                        <span
                            matTooltip="{{getErrorMessage(employeeForm.controls.mobileNumber,'employee','mobileNumber')}}">
                            {{getErrorMessage(employeeForm.controls.mobileNumber,'employee','mobileNumber')}}</span>
                    </mat-error>
                </mat-form-field>

            </div>

            <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="emailId" (change)="checkEmailIdIfAlreadyExistsOrNot()"
                        required="true" />
                    <mat-error *ngIf="employeeForm.controls.emailId.invalid && employeeForm.controls.emailId.touched">
                        <span matTooltip="{{getErrorMessage(employeeForm.controls.emailId,'employee','emailId')}}">
                            {{getErrorMessage(employeeForm.controls.emailId,'employee','emailId')}}</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <button class="mt-3" mat-button color="primary" [matTooltip]="'Next'"  (click)="submitStep1()" mat-button>Next</button>
    </ng-template>

    <ng-template #employeeAddressInfo>
        <div class="row pt-3">
            <div class="col-xl-12">
                <div class="border-box ">
                    <strong><label>Permanent Address</label></strong>
                    <div class="example-form row mt-1">
                        <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                            <mat-form-field appearance="outline">
                                <mat-label>Address Line 1</mat-label>
                                <input matInput type="text" formControlName="permanentAddressLine1" required="true" />
                                <mat-error
                                    *ngIf="employeeForm.controls.permanentAddressLine1.invalid && employeeForm.controls.permanentAddressLine1.touched">
                                    <span
                                        matTooltip="{{getErrorMessage(employeeForm.controls.permanentAddressLine1,'employee','permanentAddressLine1')}}">
                                        {{getErrorMessage(employeeForm.controls.permanentAddressLine1,'employee','permanentAddressLine1')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                            <mat-form-field appearance="outline">
                                <mat-label>Address Line 2</mat-label>
                                <input matInput type="text" formControlName="permanentAddressLine2" />
                                <mat-error
                                    *ngIf="employeeForm.controls.permanentAddressLine2.invalid && employeeForm.controls.permanentAddressLine2.touched">
                                    <span
                                        matTooltip="{{getErrorMessage(employeeForm.controls.permanentAddressLine2,'employee','permanentAddressLine2')}}">
                                        {{getErrorMessage(employeeForm.controls.permanentAddressLine2,'employee','permanentAddressLine2')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                            <mat-label>Country</mat-label>
                            <ng-select [items]="permanentCountryList" (change)="getStateListByCountryIdForPerState()"
                                placeholder="Country *" formControlName="permanentCountry" bindLabel="name"
                                bindValue="id" [searchable]="true" [clearable]="false" required="true"
                                [closeOnSelect]="true">
                            </ng-select>
                            <mat-error
                                *ngIf="employeeForm.controls.permanentCountry.invalid && employeeForm.controls.permanentCountry.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.permanentCountry,'employee','permanentCountry')}}">
                                    {{getErrorMessage(employeeForm.controls.permanentCountry,'employee','permanentCountry')}}</span>
                            </mat-error>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                            <mat-label>State</mat-label>
                            <ng-select [items]="permanentStateList" (change)="getCityListByStateIdForPerCity()"
                                placeholder="State *" formControlName="permanentState" bindLabel="name" bindValue="id"
                                [searchable]="true" [clearable]="false" required="true" [closeOnSelect]="true">
                            </ng-select>
                            <mat-error
                                *ngIf="employeeForm.controls.permanentState.invalid && employeeForm.controls.permanentState.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.permanentState,'employee','permanentState')}}">
                                    {{getErrorMessage(employeeForm.controls.permanentState,'employee','permanentState')}}</span>
                            </mat-error>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                            <mat-label>City</mat-label>
                            <ng-select [items]="permanentCityList" placeholder="City *" formControlName="permanentCity"
                                bindLabel="name" bindValue="id" [searchable]="true" [clearable]="false" required="true"
                                [closeOnSelect]="true">
                            </ng-select>
                            <mat-error
                                *ngIf="employeeForm.controls.permanentCity.invalid && employeeForm.controls.permanentCity.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.permanentCity,'employee','permanentCity')}}">
                                    {{getErrorMessage(employeeForm.controls.permanentCity,'employee','permanentCity')}}</span>
                            </mat-error>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                            <mat-form-field appearance="outline">
                                <mat-label>PINCODE</mat-label>
                                <input matInput type="text" formControlName="permanentPincode" required="true" />
                                <mat-error
                                    *ngIf="employeeForm.controls.permanentPincode.invalid && employeeForm.controls.permanentPincode.touched">
                                    <span
                                        matTooltip="{{getErrorMessage(employeeForm.controls.permanentPincode,'employee','permanentPincode')}}">
                                        {{getErrorMessage(employeeForm.controls.permanentPincode,'employee','permanentPincode')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="mt-3 mb-3">
                    <mat-checkbox formControlName="sameAsPermanentAddress"
                        (change)="onChangeOfSameAsPermanentAddress()"><strong>Current address same as Permanent
                            address</strong>
                    </mat-checkbox>
                </div>

                <div class="border-box" *ngIf="!employeeForm.controls.sameAsPermanentAddress.value">
                    <strong><label>Current Address</label></strong>
                    <div class="example-form row mt-1">
                        <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                            <mat-form-field appearance="outline">
                                <mat-label>Address Line 1</mat-label>
                                <input matInput type="text" formControlName="currentAddressLine1" required="true" />
                                <mat-error
                                    *ngIf="employeeForm.controls.currentAddressLine1.invalid && employeeForm.controls.currentAddressLine1.touched">
                                    <span
                                        matTooltip="{{getErrorMessage(employeeForm.controls.currentAddressLine1,'employee','currentAddressLine1')}}">
                                        {{getErrorMessage(employeeForm.controls.currentAddressLine1,'employee','currentAddressLine1')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                            <mat-form-field appearance="outline">
                                <mat-label>Address Line 2</mat-label>
                                <input matInput type="text" formControlName="currentAddressLine2" />
                                <mat-error
                                    *ngIf="employeeForm.controls.currentAddressLine2.invalid && employeeForm.controls.currentAddressLine2.touched">
                                    <span
                                        matTooltip="{{getErrorMessage(employeeForm.controls.currentAddressLine2,'employee','currentAddressLine2')}}">
                                        {{getErrorMessage(employeeForm.controls.currentAddressLine2,'employee','currentAddressLine2')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                            <mat-label>Country</mat-label>
                            <ng-select [items]="currentCountryList" (change)="getStateListByCountryIdForCurState()"
                                placeholder="Country" formControlName="currentCountry" bindLabel="name" bindValue="id"
                                [searchable]="true" [clearable]="false" required="true" [closeOnSelect]="true">
                            </ng-select>
                            <mat-error
                                *ngIf="employeeForm.controls.currentCountry.invalid && employeeForm.controls.currentCountry.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.currentCountry,'employee','currentCountry')}}">
                                    {{getErrorMessage(employeeForm.controls.currentCountry,'employee','currentCountry')}}</span>
                            </mat-error>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                            <mat-label>State</mat-label>
                            <ng-select [items]="currentStateList" (change)="getCityListByStateIdForCurCity()"
                                placeholder="State *" formControlName="currentState" bindLabel="name" bindValue="id"
                                [searchable]="true" [clearable]="false" required="true" [closeOnSelect]="true">
                            </ng-select>
                            <mat-error
                                *ngIf="employeeForm.controls.currentState.invalid && employeeForm.controls.currentState.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.currentState,'employee','currentState')}}">
                                    {{getErrorMessage(employeeForm.controls.currentState,'employee','currentState')}}</span>
                            </mat-error>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                            <mat-label>City</mat-label>
                            <ng-select [items]="currentCityList" placeholder="City *" formControlName="currentCity"
                                bindLabel="name" bindValue="id" [searchable]="true" [clearable]="false" required="true"
                                [closeOnSelect]="true">
                            </ng-select>
                            <mat-error
                                *ngIf="employeeForm.controls.currentCity.invalid && employeeForm.controls.currentCity.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.currentCity,'employee','currentCity')}}">
                                    {{getErrorMessage(employeeForm.controls.currentCity,'employee','currentCity')}}</span>
                            </mat-error>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                            <mat-form-field appearance="outline">
                                <mat-label>PINCODE</mat-label>
                                <input matInput type="text" formControlName="currentPincode" required="true" />
                                <mat-error
                                    *ngIf="employeeForm.controls.currentPincode.invalid && employeeForm.controls.currentPincode.touched">
                                    <span
                                        matTooltip="{{getErrorMessage(employeeForm.controls.currentPincode,'employee','currentPincode')}}">
                                        {{getErrorMessage(employeeForm.controls.currentPincode,'employee','currentPincode')}}</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="mt-3" mat-button [matTooltip]="'Next'"  color="primary" (click)="submitStep2()" mat-button>Next</button>
    </ng-template>

    <ng-template #employeeSkillSetInfo>
        <ng-select appendTo="body" [items]="skillMasterList" placeholder="Skills" formControlName="skillMasterIds"
            bindLabel="name" bindValue="id" [searchable]="true" [clearable]="false" [closeOnSelect]="false"
            [(ngModel)]="selectedListForSkillMaster" [multiple]="true">
            <ng-template ng-option-tmp let-item="item">
                <input
                    [checked]="selectedListForSkillMaster && selectedListForSkillMaster.length > 0 && selectedListForSkillMaster.indexOf(item.id) > -1"
                    type="checkbox">
                {{item.name}}
            </ng-template>
        </ng-select>
        <mat-error *ngIf="employeeForm.controls.roleMasterId.invalid && employeeForm.controls.roleMasterId.touched">
            <span matTooltip="{{getErrorMessage(employeeForm.controls.roleMasterId,'employee','roleMasterId')}}">
                {{getErrorMessage(employeeForm.controls.roleMasterId,'employee','roleMasterId')}}</span>
        </mat-error>
        <button class="mt-3" mat-button color="primary" [matTooltip]="'Next'"  (click)="submitStep3()" mat-button>Next</button>
    </ng-template>
</form>
















<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="row">
                <div class="col-xl-9 col-md-9 col-9 pt-2 pb-2 pl-3 pr-3 d-flex">
                    <strong>Employee Detail</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 pt-3 pb-1 b-c">
            <form [formGroup]="employeeForm">
                <div class="row">

                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <div class="row ">
                            <div class="col-xl-12">
                                <label for="file-input" class="d-bk">
                                    <img src={{photo}} />
                                </label>
                                <input type="file" accept=".png,.jpeg,.jpg,.gif,.img" style="display:none"
                                    id="file-input" (change)="uploadPhoto($event)" required>
                                <mat-error
                                    matTooltip="{{getErrorMessage(employeeForm.controls.firstName,'employee','firstName')}}"
                                    *ngIf="employeeForm.controls.imagePath.invalid && employeeForm.controls.imagePath.touched">
                                    {{getErrorMessage(employeeForm.controls.imagePath,'employee','imagePath')}}
                                </mat-error>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2"
                        *ngIf="employeeForm.controls.id.value != 0">
                        <mat-form-field appearance="outline">
                            <mat-label>Employee Code</mat-label>
                            <input matInput type="text" formControlName="empCode" required="true" readonly="true" />
                            <mat-error
                                *ngIf="employeeForm.controls.empCode.invalid && employeeForm.controls.empCode.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.empCode,'employee','empCode')}}">
                                    {{getErrorMessage(employeeForm.controls.empCode,'employee','empCode')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" formControlName="firstName" required="true" />
                            <mat-error
                                *ngIf="employeeForm.controls.firstName.invalid && employeeForm.controls.firstName.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.firstName,'employee','firstName')}}">
                                    {{getErrorMessage(employeeForm.controls.firstName,'employee','firstName')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Middle Name</mat-label>
                            <input matInput type="text" formControlName="middleName" />
                            <mat-error
                                *ngIf="employeeForm.controls.middleName.invalid && employeeForm.controls.middleName.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.middleName,'employee','middleName')}}">
                                    {{getErrorMessage(employeeForm.controls.middleName,'employee','middleName')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput type="text" formControlName="lastName" required="true" />
                            <mat-error
                                *ngIf="employeeForm.controls.lastName.invalid && employeeForm.controls.lastName.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.lastName,'employee','lastName')}}">
                                    {{getErrorMessage(employeeForm.controls.lastName,'employee','lastName')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-label>Status</mat-label>
                        <ng-select [items]="statusList" placeholder="Status *" formControlName="status" bindLabel="name"
                            bindValue="value" [searchable]="true" [clearable]="false" required="true"
                            [closeOnSelect]="true">
                        </ng-select>
                        <mat-error *ngIf="employeeForm.controls.status.invalid && employeeForm.controls.status.touched">
                            <span matTooltip="{{getErrorMessage(employeeForm.controls.status,'employee','status')}}">
                                {{getErrorMessage(employeeForm.controls.status,'employee','status')}}</span>
                        </mat-error>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-label>Designation</mat-label>
                        <ng-select [items]="designationList" placeholder="Designation *" formControlName="designationId"
                            bindLabel="name" bindValue="id" [searchable]="true" [clearable]="false" required="true"
                            [closeOnSelect]="true">
                        </ng-select>
                        <mat-error
                            *ngIf="employeeForm.controls.designationId.invalid && employeeForm.controls.designationId.touched">
                            <span
                                matTooltip="{{getErrorMessage(employeeForm.controls.designationId,'employee','designationId')}}">
                                {{getErrorMessage(employeeForm.controls.designationId,'employee','designationId')}}</span>
                        </mat-error>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-label>Roles</mat-label>
                        <ng-select appendTo="body" [items]="roleMasterList" placeholder="Roles"
                            formControlName="roleMasterId" bindLabel="name" bindValue="id" [searchable]="true"
                            [clearable]="false" [(ngModel)]="selectedListForRoleMaster" [multiple]="true">
                            <ng-template ng-option-tmp let-item="item">
                                <input
                                    [checked]="selectedListForRoleMaster && selectedListForRoleMaster.length > 0 && selectedListForRoleMaster.indexOf(item.id) > -1"
                                    type="checkbox">
                                {{item.name}}
                            </ng-template>
                        </ng-select>
                        <mat-error
                            *ngIf="employeeForm.controls.roleMasterId.invalid && employeeForm.controls.roleMasterId.touched">
                            <span
                                matTooltip="{{getErrorMessage(employeeForm.controls.roleMasterId,'employee','roleMasterId')}}">
                                {{getErrorMessage(employeeForm.controls.roleMasterId,'employee','roleMasterId')}}</span>
                        </mat-error>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-form-field>
                            <mat-label>Date of Joining</mat-label>
                            <input matInput [matDatepicker]="dateOfJoining" readonly="true" required="true"
                                [max]="currentDate" formControlName="dateOfJoining">
                            <mat-datepicker-toggle matSuffix [for]="dateOfJoining">
                            </mat-datepicker-toggle>
                            <mat-datepicker #dateOfJoining></mat-datepicker>
                            <mat-error
                                *ngIf="employeeForm.controls.dateOfJoining.invalid && employeeForm.controls.dateOfJoining.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.dateOfJoining,'employee','dateOfJoining')}}">
                                    {{getErrorMessage(employeeForm.controls.dateOfJoining,'employee','dateOfJoining')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput type="text" formControlName="mobileNumber" prefix="+91 " mask="00000 00000"
                                required="true" />
                            <mat-error
                                *ngIf="employeeForm.controls.mobileNumber.invalid && employeeForm.controls.mobileNumber.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.mobileNumber,'employee','mobileNumber')}}">
                                    {{getErrorMessage(employeeForm.controls.mobileNumber,'employee','mobileNumber')}}</span>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" formControlName="emailId"
                                (change)="checkEmailIdIfAlreadyExistsOrNot()" required="true" />
                            <mat-error
                                *ngIf="employeeForm.controls.emailId.invalid && employeeForm.controls.emailId.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.emailId,'employee','emailId')}}">
                                    {{getErrorMessage(employeeForm.controls.emailId,'employee','emailId')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Address Line 1</mat-label>
                            <input matInput type="text" formControlName="addressLine1" required="true" />
                            <mat-error
                                *ngIf="employeeForm.controls.addressLine1.invalid && employeeForm.controls.addressLine1.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.addressLine1,'employee','addressLine1')}}">
                                    {{getErrorMessage(employeeForm.controls.addressLine1,'employee','addressLine1')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Address Line 2</mat-label>
                            <input matInput type="text" formControlName="addressLine2" />
                            <mat-error
                                *ngIf="employeeForm.controls.addressLine2.invalid && employeeForm.controls.addressLine2.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.addressLine2,'employee','addressLine2')}}">
                                    {{getErrorMessage(employeeForm.controls.addressLine2,'employee','addressLine2')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-label>Country</mat-label>
                        <ng-select [items]="countryList" (change)="getStateListByCountryId()" placeholder="Country *"
                            formControlName="country" bindLabel="name" bindValue="id" [searchable]="true"
                            [clearable]="false" required="true" [closeOnSelect]="true">
                        </ng-select>
                        <mat-error
                            *ngIf="employeeForm.controls.country.invalid && employeeForm.controls.country.touched">
                            <span matTooltip="{{getErrorMessage(employeeForm.controls.country,'employee','country')}}">
                                {{getErrorMessage(employeeForm.controls.country,'employee','country')}}</span>
                        </mat-error>
                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-label>State</mat-label>
                        <ng-select [items]="stateList" (change)="getCityListByStateId()" placeholder="State *"
                            formControlName="state" bindLabel="name" bindValue="id" [searchable]="true"
                            [clearable]="false" required="true" [closeOnSelect]="true">
                        </ng-select>
                        <mat-error *ngIf="employeeForm.controls.state.invalid && employeeForm.controls.state.touched">
                            <span matTooltip="{{getErrorMessage(employeeForm.controls.state,'employee','state')}}">
                                {{getErrorMessage(employeeForm.controls.state,'employee','state')}}</span>
                        </mat-error>
                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-label>City</mat-label>
                        <ng-select [items]="cityList" placeholder="City *" formControlName="city" bindLabel="name"
                            bindValue="id" [searchable]="true" [clearable]="false" required="true"
                            [closeOnSelect]="true">
                        </ng-select>
                        <mat-error *ngIf="employeeForm.controls.city.invalid && employeeForm.controls.city.touched">
                            <span matTooltip="{{getErrorMessage(employeeForm.controls.city,'employee','city')}}">
                                {{getErrorMessage(employeeForm.controls.city,'employee','city')}}</span>
                        </mat-error>
                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 pt-1 pb-2">
                        <mat-form-field appearance="outline">
                            <mat-label>PINCODE</mat-label>
                            <input matInput type="text" formControlName="pincode" required="true" />
                            <mat-error
                                *ngIf="employeeForm.controls.pincode.invalid && employeeForm.controls.pincode.touched">
                                <span
                                    matTooltip="{{getErrorMessage(employeeForm.controls.pincode,'employee','pincode')}}">
                                    {{getErrorMessage(employeeForm.controls.pincode,'employee','pincode')}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12 text-right pt-2 pb-2">
                        <button *ngIf="action == 'add'" (click)="saveEmployee()" matTooltip="Save" type="button"
                            mat-raised-button>Save</button>
                        <button *ngIf="action == 'edit'" (click)="updateEmployee()" matTooltip="Update" type="button"
                            mat-raised-button>Update</button>
                        <button (click)="closePopUp()" matTooltip="Close" type="button" mat-raised-button>Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->