<Appwrk-layout-div>
  <ng-container *ngTemplateOutlet="mainLayout"></ng-container>
</Appwrk-layout-div>


<ng-template #mainLayout>
  <form [formGroup]="projectForm" class="example-form row">

    <div class="col-sm-12 col-md-6 col-lg-6">
      <div>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Project name</mat-label>
          <input type="text" formControlName="name" matInput>
          <mat-error *ngIf="projectForm.controls.name.invalid">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Project start date</mat-label>
          <input matInput [matDatepicker]="projectstartdate" readonly="true" required="true" [min]="currentDate"
            formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="projectstartdate">
          </mat-datepicker-toggle>
          <mat-datepicker #projectstartdate></mat-datepicker>
          <mat-error *ngIf="projectForm.controls.startDate.invalid">
            Start date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Project type (upwork/linkedIn)</mat-label>
          <mat-select  formControlName="platformTypeId">
            <mat-option *ngFor="let type of platformList" value="{{type.id}}">{{type.name | titlecase}}</mat-option>
          </mat-select>
          <mat-error *ngIf="projectForm.controls.platformTypeId.invalid">
            Project type is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <div>
          <label id="example-radio-group-label">Project time</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="timeType">
            <mat-radio-button class="example-radio-button" *ngFor="let status of projectTimeType"
              [value]="status.value">
              {{status.title}}
            </mat-radio-button>
            <mat-error *ngIf="projectForm.controls.timeType.invalid">
              Project time type is <strong>required</strong>
            </mat-error>
          </mat-radio-group>
        </div>
      </div>
      <div *ngIf="projectForm.controls.timeType.value == 'FIXED'">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Amount</mat-label>
          <input  formControlName="amount" matInput type="number">
        </mat-form-field>
      </div>
      <button mat-raised-button (click)="submitForm()" color="primary">Save</button>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Select Employees</mat-label>
          <mat-select multiple  formControlName="employeeId">
            <mat-option *ngFor="let emp of employeeList" value="{{emp.id}}">{{emp.firstName}} ( {{emp.designation.name}} ) </mat-option>
          </mat-select>
          <mat-error *ngIf="projectForm.controls.employeeId.invalid">
            please select atleast one
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <label id="example-radio-group-label">Project current status</label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
          formControlName="status">
          <mat-radio-button class="example-radio-button" *ngFor="let type of projectStatusType" [value]="type.title">
            {{type.title | titlecase}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>






  </form>
</ng-template>
