<Appwrk-layout-div [title]="'Organization'">
  <ng-container *ngTemplateOutlet="mainLayout"></ng-container>
  <div rightButton>
    <button (click)="routeToAddAndEditOrganization(0, 'add')" mat-button color="primary" class="mb-2">
      <div class="d-flex justify-content-center align-items-center">
        <span class="material-icons mr-2">
          add
        </span>
        <span>
          Add
        </span>
      </div>
    </button>
  </div>
</Appwrk-layout-div>

<ng-template #mainLayout>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (change)="doFilter($event.target.value)" placeholder="Ex. Admin" #input>
  </mat-form-field>
  <div class="" style="position: relative;">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <Appwrk-loader [diameter]="50" *ngIf="isLoadingResults"></Appwrk-loader>
    </div>
    <div>
      <table mat-table matSort [dataSource]="organizationList" class="mat-elevation-z8"
        (matSortChange)="sortData($event)" style="width: 100%">
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky :true"></tr>
        <tr mat-row-responsive mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <ng-container matColumnDef="orgCode">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Code
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-label [matTooltip]="element && element.orgCode ? element.orgCode : '-'">
              {{element && element.orgCode ? element.orgCode : '-'}}
            </mat-label>
          </td>
        </ng-container>
        <ng-container matColumnDef="orgName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Name
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-label [matTooltip]="element && element.orgName ? element.orgName : '-'">
              {{element && element.orgName ? element.orgName : '-'}}
            </mat-label>
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Status
          </th>
          <td mat-cell *matCellDef="let element">
              <mat-label [matTooltip]="statusMap[element.status]">
                  {{statusMap[element.status]}}
              </mat-label>
          </td>
      </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            <div>
              <div>
                Action
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="routeToAddAndEditOrganization(element.id, 'edit')" mat-button color="primary" class="mb-2">
              <div class="d-flex justify-content-center align-items-center" [matTooltip]="Edit">
                <span class="material-icons">
                  edit
                </span>
              </div>
            </button>
          </td>
        </ng-container>
      </table>
      <div class="d-flex flex-column justify-content-center align-items-center min-height"
        *ngIf="organizationList.length===0">
        <div class="mt-5 pt-5 mb-2">
          <img height="200" src="assets/images/nodata.jpg">
        </div>
        <h5>No data found!</h5>
      </div>
      <ng-container>
        <div class="row" *ngIf="organizationList.length> 0">
          <div class="col-xl-7 col-md-6 col-sm-6 col-12 button-right pt-2">
            <div class="pagination shadow">
              <button (click)="pageChanges(0)" class="border-right" [disabled]="selectedPage==0"><i
                  class="fas fa-angle-double-left"></i></button>
              <button class="border-right" (click)="pageChanges(selectedPage-1)"
                [disabled]="selectedPage==0">Prev</button>
              <button class="page-no" *ngFor="let p of (totalPage | pagination: selectedPage)" (click)="pageChanges(p)"
                [ngClass]="{'active':p==selectedPage}" [disabled]="selectedPage == p"><label>{{p+1}}</label></button>
              <button class="border-right border-left" (click)="pageChanges(selectedPage+1)"
                [disabled]="selectedPage==(totalPage-1)">Next</button>
              <button (click)="pageChanges(totalPage-1)" [disabled]="selectedPage==(totalPage-1)"><i
                  class="fas fa-angle-double-right"></i></button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>