<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <strong>Change Password</strong>
        <button (click)="close()" mat-button color="primary"><span class="material-icons">
                cancel
            </span></button>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="row">
            <div class="col-xl-12 pt-3">
                <strong>Once you're finished, use your new password to login.Make sure you have a strong
                    password.</strong>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-12 col-md-12 pt-3 pb-3">
                        <mat-form-field appearance="outline">
                            <mat-label class="pl-3">Current Password</mat-label>
                            <input formControlName="currentPassword" matInput autocomplete="current-password"
                                [type]="!isCurrentPasswordHide ? 'password' : 'text'" required>
                            <mat-icon matTooltip="View" style="cursor: pointer; pointer-events: all;" matSuffix
                                (click)="isCurrentPasswordHide = !isCurrentPasswordHide">
                                {{isCurrentPasswordHide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                        <label class="ng-error mat-error"
                            *ngIf="changePasswordForm.controls.currentPassword.invalid && changePasswordForm.controls.currentPassword.touched">
                            <span
                                matTooltip="{{getErrorMessage(changePasswordForm.controls.currentPassword,'changePassword','currentPassword')}}">
                                {{getErrorMessage(changePasswordForm.controls.currentPassword,'changePassword','currentPassword')}}</span>
                        </label>
                    </div>

                    <div class="col-xl-12 col-md-12 pb-3">
                        <mat-form-field appearance="outline">
                            <mat-label class="pl-3">New Password</mat-label>
                            <input id="password" matInput formControlName="newPassword" (change)="checkPasswordMatchesOrNot()" autocomplete="new-password"
                                [type]="!isNewPasswordHide ? 'password' : 'text'" required>
                            <mat-icon matTooltip="View" style="cursor: pointer; pointer-events: all;" matSuffix
                                (click)="isNewPasswordHide = !isNewPasswordHide">
                                {{isNewPasswordHide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                        <label class="ng-error mat-error"
                            *ngIf="changePasswordForm.controls.newPassword.invalid && changePasswordForm.controls.newPassword.touched">
                            <span
                                matTooltip="{{getErrorMessage(changePasswordForm.controls.newPassword,'changePassword','newPassword')}}">
                                {{getErrorMessage(changePasswordForm.controls.newPassword,'changePassword','newPassword')}}</span>
                        </label>
                    </div>
                    <div class="col-xl-12 col-md-12 pb-3">
                        <mat-form-field appearance="outline">
                            <mat-label class="pl-3">Confirm Password
                            </mat-label>
                            <input id="confirmPassword" (change)="checkPasswordMatchesOrNot()" formControlName="confirmPassword" matInput
                                autocomplete="confirm-password" [type]="!isConfirmPasswordHide ? 'password' : 'text'"
                                required>
                            <mat-icon matTooltip="View" style="cursor: pointer; pointer-events: all;" matSuffix
                                (click)="isConfirmPasswordHide = !isConfirmPasswordHide">
                                {{isConfirmPasswordHide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                        <label class="ng-error mat-error"
                            *ngIf="changePasswordForm.controls.confirmPassword.invalid && changePasswordForm.controls.confirmPassword.touched">
                            <span
                                matTooltip="{{getErrorMessage(changePasswordForm.controls.confirmPassword,'changePassword','confirmPassword')}}">
                                {{getErrorMessage(changePasswordForm.controls.confirmPassword,'changePassword','confirmPassword')}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-12 text-right pt-3 pb-3">
                <button type="submit" mat-raised-button>Save</button>
            </div>
        </div>
    </form>
</div>