.mat-form-field {
    width: 100% !important;
}
.eye-i{
    position: absolute;
    right: 5px;
    background: transparent;
    top: 10px;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bg-c{
    background: #ebedfa;
    padding: 15px;
    border-radius: 10px;
}
input.mat-input-element {
    padding: 0 25px !important;
}
.mat-form-field-label-wrapper {
    padding-left: 15px !important;
}
:host>>>.mat-form-field-label {
    padding-left: 15px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-start {
    width: 15px !important;
}

.is-invalid {
    border-left: solid 6px red;
  }
  
  .material-icons {
    display: inline-flex;
    vertical-align: middle;
    font-size: 14px !important;
  }

  .lock {
    color: #656870;
}
@media (max-width: 767px) and (min-width: 200px){
    .rpt10{padding-top: 10px;}
    .pb-3{
        padding-bottom: 0 !important;
    }
}