/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
// html, body {
//     height: 100%;
// }
// body { margin: 0; font-family: Roboto; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//  ========================================================
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Poppins", sans-serif; }

html,
body {
  height: 100%;
}
// =========================================================

.no-records {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    background: aliceblue;
    height: 33px;
    line-height: 33px;
    width: 100%;
    // border-radius: 10px;
  }

  .button-right {
    float: right;
    margin-right: 10px;
  }

  .btns{
    align-items: center;
    text-align: center;
    min-width: 26px;
    border: none;
    color: #2f8ded;
  }
