/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
// html, body {
//     height: 100%;
// }
// body { margin: 0; font-family: Roboto; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// define a real custom palette (using http://mcg.mbitson.com)
$appwrk-primary: (
  50: #e6f1fd,
  100: #c1ddfa,
  200: #97c6f6,
  300: #6daff2,
  400: #4e9ef0,
  500: #2f8ded,
  600: #2a85eb,
  700: #237ae8,
  800: #1d70e5,
  900: #125de0,
  A100: #ffffff,
  A200: #dbe7ff,
  A400: #a8c4ff,
  A700: #8fb3ff,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);
$appwrk-secondary: (
  50: #fdebe5,
  100: #f9ccbe,
  200: #f5aa93,
  300: #f18868,
  400: #ee6f47,
  500: #eb5527,
  600: #e94e23,
  700: #e5441d,
  800: #e23b17,
  900: #dd2a0e,
  A100: #ffffff,
  A200: #ffdad5,
  A400: #ffaca2,
  A700: #ff9689,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($appwrk-primary);
$candy-app-accent:  mat-palette($appwrk-secondary, 900);
$background-color: map_get($mat-red, 50);
// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$appwrk-theme: mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn,
  )
));

// Insert custom background color
$background: map-get($appwrk-theme, background);
$background: map_merge($background, (background: $background-color));
$theme: map_merge($appwrk-theme, (background: $background));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
// @include my-app-theme($theme);
//  ========================================================
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Poppins", sans-serif; }

html,
body {
  height: 100%;
}
// =========================================================

.border-box {
  border: 1px solid #e0e0e0 !important;
  padding: 15px 15px;
  border-radius: 5px;
}
.border-box.ng-invalid{
  border: 1px solid #e74c3c !important;
}
.mf-bg{
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  .border-box{
    background: #fff;
  }
  .rpt-0{
    padding-top: 0 !important;
  }
}
.text-primary {
  color:#2f8ded;
}
.pointer{
  cursor: pointer;
}

.no-records {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    background: aliceblue;
    height: 33px;
    line-height: 33px;
    width: 100%;
    // border-radius: 10px;
  }

  .button-right {
    float: right;
    margin-right: 10px;
  }

  .btns{
    align-items: center;
    text-align: center;
    min-width: 26px;
    border: none;
    color: #2f8ded;
  }


  .example-form {
    min-width: 150px;
    // max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .example-radio-button {
    margin: 5px;
  }


  button:focus{
    outline: none!important;
  }


  .active-link{
    background-color: #fafafa!important;
    color:black!important;
    border-left:5px solid #eb5527!important;
  }

  .timepicker-overlay{
      z-index: 1001!important;
  }